:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}





/*General Styles*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}


/* Theme Toggle */
.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: hsla(0, 0%, 0%, 0.5) ;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
    
}

.theme-toggle:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.theme-toggle i {
    font-size: 24px;
}




/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: hsla(211, 100%, 50%, 0.781);
    color: hsla(197, 54%, 97%, 0.863);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}




.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    position: relative;



}
.nav-links :hover {
    color: #0056b3;

}



.nav-links li {
    font-size: 18px;
    transition: color 0.5s;

    
    
}


.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
    
}
    /* Hamburger Menu */
    .hamburger {
        display: none; /* Hidden by default */
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
    }
    
    .hamburger .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease;
    }
    

    .container{
        width: 100%;
        position: relative;
    }




/* Sections */
section {
    padding: 2rem;
    margin: 2rem 0;
    background-color:rgba(204, 235, 208, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    
}

section:hover {
    background-color: hsla(0, 78%, 5%, 0.048);
}

/* About Me Section */
.featured-box{
    position: relative;
    display: flex;
    height: 40vh;
    min-height: 70vh;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 2px;
}

.featured-text-card span{
    
    background: var(--third-color);
    color: var(--color-white);
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    
    
    
}

.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typed{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.typed1{
    display: none;
}
.featured-text-info {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--text-color-second);
    
}
.dark-mode .featured-text-info{
    color: (var(--color-white));
} 
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}






/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.skill-item {
    text-align: center;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .skill-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}

.skill-item i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #007bff;
    transition: color 0.5s;
}

.dark-mode .skill-item i {
    color: #f4f4f9;
}
.skill-item h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    transition: color 0.5s;
}

.dark-mode .skill-item h3 {
    color: #f4f4f9;
}

/* tools*/
.ide{
    width: 50px;
    height: 50px;
}
.eclipse{
    width: 50px;
    height: 50px;
}
.netlify{
    width: 50px;
    height: 50px;
}
.postgresql{
    width: 50px;
    height: 50px;
}
.postman{
    width: 50px;
    height: 50px;
}
.vscode{
    width: 50px;
    height: 50px;
}



/* Projects */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.dark-mode .projects-grid {
    color: #f4f4f9;
}
.project-item {
    padding: 1rem;
    background-color:hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.dark-mode .project-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}

/* .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}
.dark-mode .btn {
    background-color:rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
} */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

/* Testimonials */
blockquote {
    padding: 1rem;
    background-color: #fff;
    border-left: 5px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}

cite {
    font-weight: bold;
    margin-top: 1rem;
    display: block;
}

.dark-mode blockquote {
    background-color: #333;
    color: #f4f4f9;
}
   
/* Recommendation  */

#recommendation-form {
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}
.recommendation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.container-recommendation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}
.dark-mode #recommendation-form {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}
.massage {
    font-size: 1rem;
    line-height: 1.5;
}
.dark-mode .massage {
    color: #f4f4f9;
}
.recommend-input {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}
.dark-mode .recommend-input {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}
.recommend-input-textarea {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}
.dark-mode .recommend-input-textarea {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}
.recommend-input-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.5s;
}
.dark-mode .recommend-input-textarea {
    border-color: #f4f4f9;
}
.recommendation-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.dark-mode .recommendation-form-footer {
    color: #f4f4f9;
}

#recom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}
#recom-btn :hover {
    background-color: #0056b3;

}
.dark-mode #recom-btn {
    background-color:rgba(0, 0, 0, 0.5);
    color: #f4f4f9;
}
.dark-mode #recom-btn:hover {
    background-color:rgba(0, 0, 0, 0.5);
}

  











/*contact*/
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}


.contact-links {
    display: flex;
    gap: 10px;
}


/* Footer */
footer {
    text-align: center;
    padding: 0.1em;
    background-color: #007bff;
    color: #fff;
}

/* Dark Mode */
body.dark-mode {
    background-color: hsla(0, 0%, 20%, 0.514);
    color: #f4f4f9;
}

body.dark-mode #navbar {
    background-color: #222;
    color: #f4f4f9;
}

body.dark-mode section {
    background-color: hsla(0, 0%, 20%, 0.514);
    translate: 0.5rem;

}

body.dark-mode .progress-bar {
    background-color: #007bff;
}
body.dark-mode .progress-bar span {
    color: #007bff;
}
body.dark-mode .progress-bar span::before {
    background-color: #007bff;
}
body.dark-mode .testimonials {
    background-color: hsla(0, 0%, 20%, 0.514);
    color: hsl(240, 8%, 3%);
}

body.dark-mode footer {
    background-color: #222;
}
   


/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(240 90% 6% / 0.589);
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

/* Media Queries for Mobile/Tablet */

        /*  Devices (1020px and below) */
       

/* Mobile Devices (480px and below) */
@media  (max-width: 480px){
    body{
        font-size: 14px;
    }
    .theme-toggle {
        bottom: 10px;
        right: 10px;
        padding: 8px;
    }
    #navbar {
        padding: 0.5rem 1rem;
        z-index: 1;
    }
    .logo {
        font-size: 1.2rem;
    }
    .java-logo{
        font-size: 1.2rem;
    }



       
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: hsla(0, 0%, 20%, 0.514);
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .nav-links li {
        text-align: center;
    }
    .nav-links a {
        color: #fff;
    }
    /* Show Hamburger Menu */
    .hamburger {
        display: flex;
    }
    
    .nav-links.active {
        display: flex;
        z-index: 1;
    }
    /* Hamburger Menu Animation */
    .hamburger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .section {
        padding: 1rem;
        margin: 1rem 0;
        flex-grow: inherit;
    }
    #about-me {
        flex-direction: column;
        padding: 1rem;
    }

    .img-container {
        width: 150px;
        height: 150px;
    }
    .profile_image {
        width: 100%;
        height: 100%;
    }
    .about {
        font-size: 0.9rem;
    }
    .skills-grid {
        grid-template-columns: 1fr;
    }
    .skill-item {
        padding: 0.5rem;
    }
    .skill-item i {
        font-size: 30px;
    }
    .skill-item h3 {
        font-size: 16px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .project-item {
        padding: 0.5rem;
    }
    .btn {
        padding: 0.3rem 0.7rem;
    }
    blockquote {
        padding: 0.5rem;
    }
    cite {
        font-size: 0.8rem;
    }
    #recommendation-form {
        padding: 0.7rem 0.5rem 0.5rem 0.5rem;
    }
    .container-recommendation {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .recommendation-form {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .massage {
        font-size: 0.9rem;
    }
    .recommend-input {
        padding: 0.5rem;
    }
    .recommend-input-textarea {
        height: 80px;
        width: 90%;
        
    }
    .recommendation-form-footer {
        flex-direction: column;
        gap: 1rem;
    }
    #recom-btn {
        padding: 0.3rem 0.7rem;
    }
    #contact {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .contact-links {
        display: inline flex;
        flex-direction: column;
        gap: 0.5rem;
        
    }
    footer {
        font-size: 0.8rem;
    }
   #section{
    flex-grow: inherit;
    min-height: 110vh;

   }

    
        


}

/* Tablets (768px and below) */
@media (min-width: 481px) and (max-width: 768px) {
    body{
        font-size: 16px;
    }
    .theme-toggle {
        bottom: 10px;
        right: 10px;
        padding: 8px;
    }
    #navbar {
        padding: 0.5rem 1rem;
        z-index: 1;
    }
    .logo {
        font-size: 1.2rem;
    }
    .java-logo{
        font-size: 1.2rem;
    }
    
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: hsla(0, 0%, 20%, 0.514);
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .hamburger {
        display: flex;
    }
    .nav-links li {
        text-align: center;
    }
    .nav-links a {
        color: #fff;
    }
    .hamburger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .section {
        padding: 1rem;
        margin: 1rem 0;
    }
    #about-me {
        flex-direction: column;
        padding: 1rem;
    }
    .img-container {
        width: 150px;
        height: 150px;
    }
    .profile_image {
        width: 100%;
        height: 100%;
    }
    .about {
        font-size: 0.9rem;
    }
    .skills-grid {
        grid-template-columns: 2fr ;
    }
    .skill-item {
        padding: 0.5rem;
    }
    .skill-item i {
        font-size: 30px;
    }
    .skill-item h3 {
        font-size: 16px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .project-item {
        padding: 0.5rem;
    }
    .btn {
        padding: 0.3rem 0.7rem;
    }
    blockquote {
        padding: 0.5rem;
    }   
    cite {
        font-size: 0.8rem;
    }
    #recommendation-form {
        padding: 0.7rem 0.5rem 0.5rem 0.5rem;
    }
    .container-recommendation {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .recommendation-form {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .massage {
        font-size: 0.9rem;
    }
    .recommend-input {
        padding: 0.5rem;
    }
    .recommend-input-textarea {
        height: 80px;
        width: 90%;
    }
    .recommendation-form-footer {
        flex-direction: column;
        gap: 1rem;
    }
    #recom-btn {
        padding: 0.3rem 0.7rem;
    }
    #contact {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .contact-links {
        display: inline flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    footer {
        font-size: 0.8rem;
    }
    #home .featured-box{
        flex-grow: inherit;
        min-height: 100vh;

    }
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}
@media only screen and (max-width: 900px) {
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        flex-grow: inherit;
        min-height: 60vh;
    }
    
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 0px;
        z-index: 0;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    #home{
        flex-grow: inherit;
        min-height: 100vh;

    }
    #home .featured-box{
        flex-grow: inherit;
        min-height: 100vh;

    }
    
    
}  